/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label {
  font-size: 25px;
  color: grey;
  margin: 0 35px;
}

.Register-header {
  /* background-color: #282c34; */
  background: #fff url('../../images/52.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.Register-header .register-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  font-size: 8vw;
  font-family: monospace;
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

.Register-header .register-text .form-class{
  position: relative;
}
.Register-header .register-text .form-class .text-box-wrapper {}
.Register-header .register-text .form-class .text-box-wrapper input[type=text],input[type=password] {
  border: none;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: large;
  width: 50%;
}
.Register-header .register-text .form-class .button {
  display: block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 35px 40%;
}
.Register-header .register-text .form-class .button-disabled {
  background-color: grey !important;
}
.Register-header .register-text .form-class .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.Register-header .register-text .form-class .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.Register-header .register-text .form-class .button:hover span {
  padding-right: 25px;
}
.Register-header .register-text .form-class .button:hover span:after {
  opacity: 1;
  right: 0;
}

/* .intro-text {
  position: absolute;
  text-align: center;
  padding: 30% 0%;
  width: 100%;
  font-size: 30px;
  font-family: monospace;
  font-feature-settings: "c2sc";
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
