/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label {
  font-size: 25px;
  color: rgb(107, 105, 105);
  margin: 0 35px;
  background-color: white;
  padding: 10px;
}

.Profile-header {
  /* background-color: #282c34; */
  background: #fff url('../../images/profile.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.Profile-header .Profile-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  font-size: 7vw;
  font-family: monospace;
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

.Profile-header .Profile-text .container {
  border-radius: 20px;
  padding: 50px;
  margin: 15px;
  width: 95%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px gray;
}

.Profile-header .Profile-text .container .wrapper {
  width: 80%;
  display: table-row;
  background-color: white;
}

.Profile-header .Profile-text .container .wrapper .label {
  width: 50%;
  color: gray;
  display: table-cell;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  text-align: left;
  /* padding-left: 10%; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.Profile-header .Profile-text .container .wrapper .value {
  width: 50%;
  display: table-cell;
  border-bottom: 1px solid lightgray;
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Profile-header .Profile-text .form-class{
  position: relative;
}
.Profile-header .Profile-text .form-class .text-box-wrapper {}
.Profile-header .Profile-text .form-class .text-box-wrapper .lebal{
  border: none !important;
    /* border-bottom: 2px solid black; */
    padding: 15px;
    font-size: large;
    width: 40%;
    margin: 5px;
    text-align: right;
    color: black;
    background-color: lightgray;
}
.Profile-header .Profile-text .form-class .text-box-wrapper input[type=text],input[type=password] {
  border: none;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: large;
  width: 40%;
  margin: 5px;
}
.Profile-header .Profile-text .form-class input {
  color: rgb(107, 105, 105);
}
.Profile-header .Profile-text .form-class label {
  font-size: large;
}
.Profile-header .Profile-text .form-class .button {
  display: block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 35px 40%;
}
.Profile-header .Profile-text .form-class .button-disabled {
  background-color: grey !important;
}
.Profile-header .Profile-text .form-class .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.Profile-header .Profile-text .form-class .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.Profile-header .Profile-text .form-class .button:hover span {
  padding-right: 25px;
}
.Profile-header .Profile-text .form-class .button:hover span:after {
  opacity: 1;
  right: 0;
}

/* .intro-text {
  position: absolute;
  text-align: center;
  padding: 30% 0%;
  width: 100%;
  font-size: 30px;
  font-family: monospace;
  font-feature-settings: "c2sc";
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
