@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import './css/bootstrap.min.css';
@import './css/all.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.App-header {
  /* background-color: #282c34; */
  background: #fff url('./images/52.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.welcome-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  padding: 20% 0;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
}

.main-welcome-text {
  /* position: absolute; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: center; */
    /* vertical-align: bottom; */
    /* padding: 10% 0; */
    /* width: 100%;
    font-size: 15vw;
    font-weight: lighter;
    font-family: monospace;
    font-feature-settings: "c2sc";
    color: white;*/
    text-shadow: 5px 10px 15px black;
    font-variant-caps: small-caps; 
    border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 15vw;
  color: rgba(255,255,255,1);
  margin: 0 auto;
}
.main-welcome-text {
  animation: animated-text 5s steps(10,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.section{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  padding: 50px;
}

.section .section-title-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  /* position: absolute; */
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid grey;
}

.section-title {
  /* background-color: blanchedalmond; */
  font-size: 45px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: monospace;
  font-feature-settings: "c2sc";
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.icon-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px auto;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.blue-purple {
  background-image: linear-gradient(to right, #1D2B64, #F8CDDA);
  animation: fadeInOut 25s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.green-blue {
  background-image: linear-gradient(to right, #43cea2, #185a9d);
  animation: fadeOutIn 25s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svg-wrapper {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* margin-top: -36px;
  margin-left: -136px; */
}

.svg-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon-title {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 75%;
  font-size: 40px;
  color: #FFFFFF;
  text-shadow: 3px 2px 8px black;
}

#carpenter-white {
  position: relative;
  fill: #fff;
  stroke: #fff;
  stroke-width: 50px;
  opacity: 0;
  animation: fadeIn 10s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#carpenter-logo {
  position: relative;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 100px;
  fill: transparent;
  stroke-width: 1.25px;
  animation: fadeOut 10s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#carpenter {
  position: relative;
  top: 0;
}

.intro-text {
  /* position: absolute; */
  text-align: justify;
  padding: 30% 10%;
  /* width: 50%; */
  font-size: 30px;
  font-family: monospace;
  font-feature-settings: "c2sc";
}

.motive-icon {
  padding: 30% 10%;
  /* width: 50%; */
}

.alpha-header {
  /* background-color: #282c34; */
  background: #fff url('./images/alpha.jpeg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.eng-alpha-header {
  /* background-color: #282c34; */
  background: #fff url('./images/engAlphas.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.colors-header {
  /* background-color: #282c34; */
  background: #fff url('./images/colors.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.alpha-title-bg {
  font-size:5vw;
  background-color: lightpink;
  width: 76%;
  margin-top: 30px;
  margin-left: 12%;
  margin-right: 12%;
  border-bottom: solid grey;
  border-top: solid grey;
  box-shadow: 5px 5px 5px lightgrey;
}

h1 {
  margin: 1.5em;
  font-size: 24px;
  text-align: center;
}

.carousel-container {
  position: relative;
  height: 300px;
  max-width: 960px;
  margin: 15px auto;
  overflow: hidden;
  touch-action: pan-y;
  background-color: rgb(201, 196, 196);
  /* box-shadow: inset 0 0 10px #000000; */
  border-left: 6px solid red;
  border-right: 6px solid red;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
  flex: 0 0 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.carousel-card-inner {
  position: relative;
  flex-direction: column;
  width: 290px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px rgb(105, 103, 103);
}

.carousel-card-inner img {
  border: 10px solid white;
}


.shape-carousel-card-inner {
  position: relative;
  flex-direction: column;
  width: 290px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px rgb(105, 103, 103);
}

.carousel-title {
  /* margin-top: 20px; */
  font-size: 60px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40%;
}

.color-carousel-title {
  /* margin-top: 20px; */
  font-size: 80px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.eng-alpha-carousel-title {
  /* margin-top: 20px; */
  font-size: 60px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 25%;
}

.eng-num-carousel-title {
  /* margin-top: 20px; */
  font-size: 60px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 25%;
}

.shapes-carousel-title {
  /* margin-top: 20px; */
  font-size: 60px;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.video-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-text {
  margin: 5%;
  height: 70%;
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: left;
  font-family: sans-serif;
  /* background-color: black; */text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.index-header {
  /* background-color: #282c34; */
  background: #fff url('./images/index.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.index-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  vertical-align: middle;
  padding: 20% 0;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
  text-shadow: 5px 5px 5px grey;
}

.index-wrapper {
  overflow: hidden;
    position: relative;
  width: 100%;
  /* height: 1500px; */
  margin: 5% 0;
}

.index-odd-title {
  /* position: absolute; */
	background: url(./images/colors.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
  float: left;
  width: 70%;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 5px rgba(92, 91, 91, 0.5), 5px 5px 5px 5px rgba(92, 91, 91, 0.5);
}
.index-odd-title .title {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}

.index-even-title {
  /* position: absolute; */
	background: url(./images/background1.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
  float: right;
  width: 70%;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 5px rgba(92, 91, 91, 0.5), 5px 5px 5px 5px rgba(92, 91, 91, 0.5);
  top: 250px;
  left: 25%;
}
.index-even-title .title {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}

.carousel-description {
  margin: 5%;
  /* height: 70%; */
  /* padding: 1em; */
  font-size: 20px;
  white-space: pre-wrap;
  text-align: center;
  font-family: sans-serif;
  /* background-color: black; */
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.eng-number-header {
  /* background-color: #282c34; */
  background: #fff url('./images/nums.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.number-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  padding: 20% 10%;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* html {
  height: 100%;
}

body {
  height: 100%;
  background: #444;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
} */

#app {
  height: 100%;
}

a {
  color: #4e4a46;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c94e50;
}

main {
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  background: #b4bad2;
  overflow: auto;
}

.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}

.demo-buttons {
  font-size: 1em;
  max-width: 1200px;
  margin: 2em auto 3em;
  padding: 0 10em;
}
.demo-buttons a {
  display: inline-block;
  margin: 0.75em;
  padding: 1.35em 1.1em;
  width: 15em;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
  cursor: pointer;
}
.demo-buttons a.current-demo {
  background: #c94e50;
  color: #fffce1;
}

.side-button {
  display: inline-block;
  width: 5em;
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 800;
}
.side-button.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.side-button.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.side-button.active {
  background: #c94e50;
  color: #fffce1;
}

/* Burger menu custom styles */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: white;
}
.bm-menu a {
  color: black;
}
.bm-menu a:hover,
.bm-menu a:focus {
  color: rgb(105, 103, 103);
}

.bm-item-list a {
  padding: 0.8em;
}

.bm-item-list ul {
  padding-right: 40px;
  list-style-type: none;
}

.bm-item-list ul li {
  padding: 1.8em 0;
}

.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
  font-size: larger
}

.bm-item-list span {
  margin-left: 10px;
  font-weight: 700;
  font-size: larger;
  cursor: pointer;
}

.bm-item:focus {
  outline: none;
}


 /* Mixins */

.menu-1 {}
.menu-1 .bm-cross {
  background: #bdc3c7;
}
.menu-1 .bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.menu-2 {}
.menu-2 .bm-cross {
  background: #999;
}
.menu-2 .bm-menu {
  padding: 3.4em 1em 0;
}
.menu-2 a {
  padding: 1em;
}
.menu-2 i {
  font-size: 1.7em;
  vertical-align: middle;
  color: #282a35;
}

.menu-3 {}
.menu-3 .bm-cross {
  background: #888;
}
.menu-3 .bm-menu {
  padding: 2em 1em;
  font-size: 1.15em;
}
.menu-3 i {
  opacity: 0.5;
}
.menu-3 span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
}

.menu-4 {}
.menu-4 .bm-cross {
  background: #888;
}
.menu-4 h2 {
  margin: 0 auto;
  padding: 2em 1em;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
.menu-4 h2 i {
  margin-left: 0.2em;
}
.menu-4 h2 span {
  font-size: 1.6em;
  font-weight: 700;
}
.menu-4 a {
  padding: 1em;
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
.menu-4 a span {
  letter-spacing: 1px;
  font-weight: 400;
}
.menu-4 a span:hover,
.menu-4 a span:focus {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}

.Login-header {
  /* background-color: #282c34; */
  background: #fff url('./images/login.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.Login-header .login-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  font-size: 8vw;
  font-family: monospace;
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

.Login-header .login-text .form-class{
  position: relative;
}
.Login-header .login-text .form-class .text-box-wrapper {}
.Login-header .login-text .form-class .text-box-wrapper input[type=text],input[type=password] {
  border: none;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: large;
  width: 50%;
}
.Login-header .login-text .form-class .button {
  display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.Login-header .login-text .form-class .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.Login-header .login-text .form-class .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.Login-header .login-text .form-class .button:hover span {
  padding-right: 25px;
}
.Login-header .login-text .form-class .button:hover span:after {
  opacity: 1;
  right: 0;
}
.Login-header .login-text .form-class .link-wrapper{
  font-size: xx-large;
  padding: 50px;
  font-variant-caps: normal;
}
.Login-header .login-text .form-class .link-wrapper a:link {
  text-decoration: none;
}
.Login-header .login-text .form-class .link-wrapper a:visited {
  text-decoration: none;
}
.Login-header .login-text .form-class .link-wrapper a:hover {
  text-decoration: underline;
  color: rgb(92, 90, 90);
}
.Login-header .login-text .form-class .link-wrapper a:active {
  text-decoration: underline;
}

.number-header {
  /* background-color: #282c34; */
  background: #fff url('./images/numbers.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

label {
  /* font-size: 25px; */
  color: rgb(107, 105, 105);
  margin: 0 35px;
  background-color: white;
  padding: 10px;
}

.Profile-header {
  /* background-color: #282c34; */
  background: #fff url('./images/profile.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.Profile-header .Profile-text {
  position: absolute;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.6); */
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  font-size: 7vw;
  font-family: monospace;
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

.Profile-header .Profile-text .container {
  border-radius: 20px;
  padding: 50px;
  /* margin: 15px; */
  width: 90%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px gray;
}

.Profile-header .Profile-text .container .wrapper {
  width: 100%;
  /* display: table-row; */
  display: flex;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.Profile-header .Profile-text .container .wrapper .label {
  width: 50%;
  color: gray;
  /* display: table-cell; */
  /* border-bottom: 1px solid lightgray; */
  font-size: 25px;
  text-align: left;
  /* padding-left: 10%; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.Profile-header .Profile-text .container .wrapper .value {
  width: 50%;
  /* display: table-cell; */
  /* border-bottom: 1px solid lightgray; */
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Profile-header .Profile-text .form-class{
  position: relative;
}
.Profile-header .Profile-text .form-class .text-box-wrapper {}
.Profile-header .Profile-text .form-class .text-box-wrapper .lebal{
  border: none !important;
    /* border-bottom: 2px solid black; */
    padding: 15px;
    font-size: large;
    width: 40%;
    margin: 5px;
    text-align: right;
    color: black;
    background-color: lightgray;
}
.Profile-header .Profile-text .form-class .text-box-wrapper input[type=text],input[type=password] {
  border: none;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: large;
  width: 40%;
  margin: 5px;
}
.Profile-header .Profile-text .form-class input {
  color: rgb(107, 105, 105);
}
.Profile-header .Profile-text .form-class label {
  font-size: large;
}
.Profile-header .Profile-text .form-class .button {
  display: block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 35px 40%;
}
.Profile-header .Profile-text .form-class .button-disabled {
  background-color: grey !important;
}
.Profile-header .Profile-text .form-class .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.Profile-header .Profile-text .form-class .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.Profile-header .Profile-text .form-class .button:hover span {
  padding-right: 25px;
}
.Profile-header .Profile-text .form-class .button:hover span:after {
  opacity: 1;
  right: 0;
}
.Register-header {
  /* background-color: #282c34; */
  background: #fff url('./images/register.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.Register-header .register-text{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  vertical-align: middle;
  padding: 20% 0;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
}

.register-wrapper{
  min-height: fit-content;
  /* box-shadow: 1px 1px 5px 1px black; */
}

.register-wrapper .form-class{
  position: relative;
}
.register-wrapper .form-class .text-box-wrapper {
  position: relative;
  margin: 20px 0;
  display: flex;
}
.register-wrapper .three {
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  align-items: stretch;
  padding: 0;
  height: 50px;
}
.register-wrapper .three .inactive {
  opacity: 0.5;
}
.register-wrapper .three .btn {
  width: 33.333%;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  vertical-align: baseline;
  border-radius: 0;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  font-weight: 800;
  font-size: large;
  background-color: #cccccc;
}
.register-wrapper .three .done {
  font-weight: 500;
}
.register-wrapper .form-class .text-box-wrapper .dropdown-wrapper {
  width: 50%;
  margin: 50px auto;
  background-color: #ffffff;
}
.register-wrapper .form-class .text-box-wrapper .date-wrapper .dob {
  font-size: large;
  background-color: #ffffff;
  /* border-bottom: 2px solid black; */
  padding: 13px;
  width: 50%;
}
.register-wrapper .form-class .text-box-wrapper .date-wrapper .dob-label {
  border: none;
  border-bottom: 2px solid black;
  padding: 15px;
  background-color: #ffffff;
  color: gray;
  font-size: large;
  margin: 5px;
  width: 50%;
}
.register-wrapper .form-class .text-box-wrapper .date-wrapper {
  margin: 0px auto;
  display: flex;
  width: 50%;
}
.register-wrapper .form-class .text-box-wrapper input[type=text], input[type=password] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #ffffff;
  padding: 15px;
  font-size: large;
  width: 50% !important;
  margin: 0px auto;
}
.register-wrapper .form-class .text-box-wrapper label {
  color: black;
  background-color: transparent;
  font-size: 30px;
  display: block;
  width: 50%;
  margin: 0px auto;
}
.register-wrapper .form-class .text-box-wrapper .role-wrapper {
  width: 50%;
  margin: 0px auto;
  display: flex;
}
.register-wrapper .form-class .text-box-wrapper .role-wrapper label {
  color: black;
  background-color: transparent;
  font-size: 30px;
  display: block;
  width: 50%;
  margin: 0px auto;
}
.register-wrapper .form-class .text-box-wrapper .role-wrapper label input[type=checkbox], input[type=radio] {
  margin: 15px;
}
.register-wrapper .form-class .text-box-wrapper .eye-icon {
  position: absolute;
  top: 25%;
  right: 20%;
  font-size: 30px;
}
.register-wrapper .form-class .btn-wrapper {
  width: 50%;
  margin: 0px auto;
  display: flex;
}
.register-wrapper .form-class .btn-wrapper .button {
  display: block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: x-large;
  padding: 15px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px auto;
}
.register-wrapper .form-class .btn-wrapper .button-disabled {
  background-color: grey !important;
}
.register-wrapper .form-class .btn-wrapper .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.register-wrapper .form-class .btn-wrapper .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.register-wrapper .form-class .btn-wrapper .button:hover span {
  padding-right: 25px;
}
.register-wrapper .form-class .btn-wrapper .button:hover span:after {
  opacity: 1;
  right: 0;
}

.shapes-header {
  /* background-color: #282c34; */
  background: #fff url('./images/shapes.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.quiz-super-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
}

.quiz-wrapper {
  position: absolute;
  background-color: lightgrey;
  height: 280px;
  border: 15px double black;
  width: 50%;
  top: 25%;
  left: 25%;
  opacity: 35%;
}

.quiz-wrapper img{
  position: absolute;
  top: -22.5%;
  left: 20%;
  border: 1px solid gray;
  box-shadow: 5px 5px 2px grey;
}

.quiz-header {
  /* background-color: #282c34; */
  background: #fff url('./images/quiz.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.quiz-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  vertical-align: middle;
  padding: 20% 0;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
  text-shadow: 5px 5px 5px grey;
}

.quiz-layout {
  width: 80%;
  height: 100%;
  margin: auto;
}

.quiz-layout .quiz-main-area {
  width: 100%;
  height: 70%;
  position: relative;
  /* background-color: grey; */
}

.quiz-layout .quiz-main-area .num-img {
  height: 80%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.quiz-layout .quiz-main-area .swar-img {
  height: 50%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.quiz-layout .quiz-main-area .title {
  font-size: 35px;
  text-shadow: 1px 2px 2px grey;
  font-weight: 500;
}

.quiz-layout .quiz-options {
  width: 100%;
  height: 30%;
  display: flex;
}

.quiz-layout .quiz-options .option {
  width: 22%;
  /* background-color: hotpink; */
  margin: 3%;
  border: 10px solid white;
  box-shadow: 2px 2px 2px 2px grey;
}

.quiz-layout .quiz-options .num-title {
  font-size: 70px;
  font-weight: 700;
  background-color: #4d9900;
  border: 10px solid #cca300;
  color: #ffffff;
}

footer {
  /* bottom: 0;
  left: 0;
  position: absolute;
  right: 0; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer-wrapper {
  padding: 20px 0;
  background-color: lightgrey;
  color: grey;
  height: 65px;
}

.footer-contact-wrapper{
  position: relative;
  width: 100%;
  height: 200px;
}

.footer-header {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: xx-large;
  font-weight: 600;
}

.footer-contact {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: left;
  font-size: x-large;
}

.footer-contact .avatar{
  border-radius: 50%;
  box-shadow: 1px 2px 4px 0px black;
  margin: 5%;
  filter: grayscale(1);
}

.alphabet-wrapper {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #f0f0f0;
}

.alphabet-wrapper .alphabet-btn-wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.alphabet-wrapper .alphabet-btn-wrapper .icon {
  /* margin-top: 10%; */
  text-align: center;
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 2px grey, 0 0 25px grey, 0 0 5px grey;
}

.alphabet-wrapper .alphabet-btn-wrapper .message{
  font-size: 60px;
  font-weight: 100;
  margin: 10%;
}

.alphabet-wrapper .alphabet-btn-wrapper .button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: x-large;
  padding: 15px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5%;
}
.alphabet-wrapper .alphabet-btn-wrapper .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.alphabet-wrapper .alphabet-btn-wrapper .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.alphabet-wrapper .alphabet-btn-wrapper .button:hover span {
  padding-right: 25px;
}
.alphabet-wrapper .alphabet-btn-wrapper .button:hover span:after {
  opacity: 1;
  right: 0;
}