.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  /* background-color: #282c34; */
  background: #fff url('../../images/52.jpg') center center fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  /* color: white; */
}

.welcome-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  padding: 20% 0;
  width: 100%;
  font-size:10vw;
  font-family: monospace;
  font-variant-caps: small-caps;
}

.half {
  width: 50%;
  float: left;
}

.card-wrapper {
  padding: 5%;
}

.intro-text {
  position: absolute;
  text-align: center;
  padding: 30% 0%;
  /* width: 100%; */
  font-size: 30px;
  font-family: monospace;
  font-feature-settings: "c2sc";
}

.color-bg{
  background: #fff url('../../images/colors.jpg') center center no-repeat;
}
.shape-bg{
  background: #fff url('../../images/shapes.jpg') center center no-repeat;
  left: 30%;
}
.color-title {
	background: url(../../images/colors.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
  float: left;
  width: 70%;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.color-title .title {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}
.shape-title {
	background: url(../../images/shape-texture.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
  float: right;
  width: 70%;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.shape-title .title {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.1);
	margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}
.alpha-title {
	background: url(../../images/alphabets.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
  float: left;
  width: 70%;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.alpha-title .title {
	font-size: 100px;
	font-family: Anton, sans-serif;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	text-shadow: 0 0 1px rgba(0,0,0,.4);
	margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}
.chapter-title-container{
  position: relative;
    height: 200px;
    width: 60%;
    margin: 5% 5%;
    border-radius: 50px 20px;
}
.chapter-title-container .color-chapter-title {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5% 0%;
    /* margin: 5% 0%; */
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 100px;
    font-family: monospace;
    font-feature-settings: "c2sc";
    font-weight: 900;
    color: white;
    background: rgba(255, 255, 255, 0.2);
}
.chapter-title-container{
  position: relative;
  height: 200px;
    width: 65%;
    margin: 10px 10px;
    border-radius: 50px 20px;
}
.chapter-title-container .shape-chapter-title {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5% 0%;
    /* margin: 5% 0%; */
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 100px;
    font-family: monospace;
    font-feature-settings: "c2sc";
    font-weight: 900;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.6);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
